body
{
	background: #348F50;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-repeat:no-repeat;
	background-attachment:fixed;

}
.form_style
{
	margin-top:100px;
}
.panel-heading h1
{
	font-size:25px;
	font-weight:bolder;
}
.image_c
{
	height:200px;
}
.thumbnail img {
    width: 100%;
	height:100%;
	border-radius:10px;
}
.thumbnail .caption-full {
    padding: 9px;
}

.delete-form
{
	display:inline;
	/* float:right; */
}
.thumbnail {
	padding:0;
   box-shadow: 0 4px 8px 0 rgba(0,0,0 , 0.5);
   transition: 0.3s;
   min-width: 40%;
   border-radius: 10px;
 }
 .thumbnail:hover {
   cursor: pointer;
   box-shadow: 0 8px 16px 0 rgba(235, 235, 235, 0.8);
 }